#normal-products-section {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .small-text {
    margin-top: 1rem;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 1.125rem;
    color: #1b1b1b;
    font-weight: 500;
  }

  .header-section {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    .header-text-28 {
      font-size: 1.75rem;
      font-weight: 500;
      font-family: HelveticaNeue;
      text-align: center;
      color: #1d1d1d;
    }

    .category-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;

      @media screen and (max-width: 900px) {
        display: none;
      }

      .category-link {
        position: relative;
        margin-right: 1.2rem;
        display: flex;
        flex-direction: column;

        .category {
          font-family: HelveticaNeue;
          font-size: 1rem;
          font-weight: 500;
          margin-bottom: 0.2rem;
          color: #1d1d1d;

          &:hover {
            cursor: pointer;
          }
        }
        .underline {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          border-bottom: solid 1px #000000;
        }
      }
      .margin-right-none {
        margin-right: 0;
      }
    }

    .mobile-category-nav {
      display: none;

      @media screen and (max-width: 900px) {
        width: 34%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3.375rem;
      }
    }
  }

  .products-container {
    margin-top: 3.375rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: solid 1px #000000;
    border-right: none;
    border-bottom: none;

    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 0.5rem;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    .product-item {
      display: flex;
      justify-content: center;
      border-right: solid 1px #000000;
      border-bottom: solid 1px black;
      padding-top: 2.125rem;
      cursor: pointer;

      .centered-content {
        width: 85%;

        @media screen and (max-width: 900px) {
          width: 80%;
        }

        animation-name: fadeIn;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
        animation-fill-mode: forwards;

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        .image-container {
          // background-color: rgba(99, 155, 97, 0.2);
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          height: 15rem;
          padding-bottom: 1.8rem;

          @media screen and (max-width: 900px) {
            height: 10rem;
          }

          img {
            width: 60%;
            position: relative;
            object-position: bottom;
            object-fit: contain;
            max-height: 100%;

            @media screen and (max-width: 900px) {
              width: 60%;
            }
          }
        }

        .product-name {
          font-family: HelveticaNeue;
          font-size: 1.1rem;
          font-weight: 500;
          color: #000000;
          margin-top: 1.5rem;
          margin-bottom: 0.2rem;
          overflow: hidden;
        }

        .product-description {
          font-family: HelveticaNeue;
          font-size: 0.9rem;
          color: #000000;
          font-weight: 500;
          margin-bottom: 0.5rem;
          line-height: 1.4rem;
          opacity: 0.8;
          overflow: hidden;
        }

        .price {
          font-family: Gotham;
          font-size: 1.125rem;
          color: #000000;
          font-weight: 500;
          margin-bottom: 1.4rem;
          line-height: 1.4rem;
        }
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 2rem;
  }
}
